section{
    width: 500px;
    height: 500px;
    background-color: blueviolet;
}

#rgba{
    width: 50%;
    height: 50%;
    /* canale alfa: impatta solo ciò che ho selezionato */
    background-color: rgba(255, 255, 255, 0.3);
}

#opacity{
    width: 50%;
    height: 50%;
    background-color: yellow;
    /* opacità: impatta tutto l'elemento */
    opacity: 0.5;
}




