div{
    width: 100px;
    height: 100px;
    background-color: violet;
    border: 2px solid black;
    margin: 10px;
    display: inline-block;
}

#middle{
    background-color: turquoise;
}
/* l’elemento rimane nella sua posizione */
#static #middle {
    position: static;
    top: 100px;
}
/*  posso cambiare la posizione dell’elemento.  */
#relative #middle {
    position: relative;
    top: 50px;
    right: 50px;
}

#absolute {
    position: relative;
}
/*  l’elemento non prende alcuno spazio nel documento. */
#absolute #middle {
    position: absolute;
    left: 20px;
}
/* Rimane in quella posizione fissa dello schermo */
#fixed #middle{
    position: fixed;
    top: 20px;
}

