h1 {
    /* allineo il testo */
    text-align: center;
    width: 50%;
    /* boldness del testo  */
    font-weight: 400;
    /* sottolineo il testo */
    text-decoration: red underline; 
}

p {
    /* interlinea */
    line-height: 2;
}

h2 {
    letter-spacing: 15px;
}