<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>The home page <%= 4 + 5 + 1 %> </h1>
    <div> <%= 'hello world'.toUpperCase() %> </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, deserunt! Aspernatur, similique. Beatae tenetur deleniti earum quae accusantium nostrum ex nihil, voluptates voluptatibus! Obcaecati rerum nihil consequuntur quae. Rerum, dolorum?
    Dolore voluptatum fugiat doloribus quas maxime error reiciendis non quod quisquam delectus, cupiditate, hic nulla necessitatibus officiis vitae id dolores molestiae magni quam, saepe repudiandae! Sunt, veritatis. Accusantium, excepturi. Accusamus?
    Aperiam minima distinctio dicta, nihil ipsa aliquam architecto blanditiis nam odit excepturi ducimus cupiditate natus, dolorum nemo necessitatibus voluptas, fugiat quos tenetur enim? Voluptas cupiditate pariatur blanditiis similique. Aspernatur, molestiae?</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, deserunt! Aspernatur, similique. Beatae tenetur deleniti earum quae accusantium nostrum ex nihil, voluptates voluptatibus! Obcaecati rerum nihil consequuntur quae. Rerum, dolorum?
    Dolore voluptatum fugiat doloribus quas maxime error reiciendis non quod quisquam delectus, cupiditate, hic nulla necessitatibus officiis vitae id dolores molestiae magni quam, saepe repudiandae! Sunt, veritatis. Accusantium, excepturi. Accusamus?
    Aperiam minima distinctio dicta, nihil ipsa aliquam architecto blanditiis nam odit excepturi ducimus cupiditate natus, dolorum nemo necessitatibus voluptas, fugiat quos tenetur enim? Voluptas cupiditate pariatur blanditiis similique. Aspernatur, molestiae?</p>
    




</body>
</html>