<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rabdom number</title>
</head>
<body>
    <!-- aggiungo un output -->
    <h1>Your random number is <%= rand %> </h1>

    <!-- aggiungo un conditonal -->
    <% if(rand % 2 === 0){ %> 
    <h2>That is an even number</h2>
    <% }else{ %> 
    <h2>That is an odd number</h2>
    <% } %> 

    <!-- modo alternativo per farlo -->
    <h3><%= rand % 2 === 0 ? 'even' : 'odd' %> </h3>

</body>
</html>