<!-- partial dell'head -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- DEVO LINKARE AL FILE CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- linko a jquery e al file js -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <title>My page  </title>
</head>
<body>